[project]
	description = Database searcher for Phalcon Framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stanislav (stanislav-web)
[access "refs/for/refs/*"]
	read = group user/Stanislav (stanislav-web)
	push = group user/Stanislav (stanislav-web)
	label-Code-Review = -2..+2 group user/Stanislav (stanislav-web)
	label-Verified = -1..+1 group user/Stanislav (stanislav-web)
	rebase = group user/Stanislav (stanislav-web)
	removeReviewer = group user/Stanislav (stanislav-web)
	submit = group user/Stanislav (stanislav-web)
[access "refs/heads/*"]
	read = group user/Stanislav (stanislav-web)
	create = group user/Stanislav (stanislav-web)
	push = +force group user/Stanislav (stanislav-web)
	pushMerge = group user/Stanislav (stanislav-web)
[access "refs/tags/*"]
	push = +force group user/Stanislav (stanislav-web)
	pushTag = group user/Stanislav (stanislav-web)
	pushSignedTag = group user/Stanislav (stanislav-web)
